$def with ()

<!--
	Version:	Dev. 0.1 - Threading and URL corrections 
	Author:		Memleak13
	Date:		11.07.13

	This file contains the webfrontend. It starts the server script and
	requests a status update each second
-->

<!doctype html>
<html>
	<head>
		<style type="text/css">	
		#body {
			margin:75px 0pt 0px;
		}
		#layout {
			font-family:arial;
			font-size: 10pt;
			text-align: center;
			margin-left: auto;
			margin-right: auto;
			table-layout: fixed;
		}
		#status {
			font-family:arial;
			font-size: 10pt;
			padding-top:5px;
			text-align: center;
			color: LightSlayGray;
		}
		#impressum {
			font-family:arial;
			font-size: 7pt;
			padding-top:12px;
			text-align: center;
			color: SlateGray;
			font-style: italic;
		}
		a:link {color:Blue;}
		a:visited {color:Blue;}
			
		</style>
			
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
		<script type="text/javascript" src="/static/jquery.plugin.js"></script>
		<script type="text/javascript" src="/static/jquery.timer.js"></script>
		<script type="text/javascript">
			jQuery(document).ready(function() {
				
				//Check if Browser is IE
		        if (navigator.userAgent.match(/msie/i) ){
  					jQuery("button").remove();
  					jQuery("select").remove();
					jQuery("#status").html("Diese Seite ist nicht fuer den Internet Explorer optimiert. Bitte benutzen Sie Chrome, Firefox oder Safari");
					return;
		        }
				
				jQuery.getJSON("/counter")
				.done(function(response) {
					//checks automatically if the script is already running,
					//if so it will disable the input fields			
					if (response.RUN_STATE == 1) {
						jQuery("#status").html("<b>Die Anwendung wird bereits ausgeführt</b><br>Bitte versuchen Sie es später nochmals...<br>Stand: " + response.CM_COUNT + "/" + response.CM_TOTAL);
						jQuery("button").attr('disabled', 'disabled');
						jQuery("select").attr('disabled', 'disabled');
					}
				});
				
				jQuery("button").click(function() {
					//Init of the timer, the timer called by the first Ajax request, see below
					//The timer asks regulary the server for a status update, receveing the total
					//amount, the counter and a statusfield. As soon as the statusfield reaches 1
					//the requests are stopped and the final page is displayed.				
					jQuery("#status").timer({
						delay: 1000,
						repeat: true,
						autostart: false,
						callback: function(index) { //console.log ("Debug: Timer Started");
							//console.log ("Debug: Repeating AjaxCall requesting count");
							jQuery.getJSON("/counter")
							.done(function(response) {
								//console.log ("Debug: AJAX - Received JSON");
								//jQuery("#status").html(response.CM_COUNT + "/" + response.CM_TOTAL + " - Status: " + response.RUN_STATE);
								jQuery("#status").html(response.CM_COUNT + "/" + response.CM_TOTAL);
								if (response.RUN_STATE == 0) {
									jQuery("#status").timer('stop');
									jQuery("#result").load("/static/result.html");
									//Todo: Enabling the button works however when pressing it nothing is triggered
									//jQuery("button").removeAttr('disabled');
									//jQuery("select").removeAttr('disabled');
								}
							});
						}	
					});
					//Stopping the timer causes the timer to be reset
					//If not there would only be one run as the timer will have reached its limit (if manual repeat of 15 for example)
					jQuery("#status").timer('stop');
					
					//Getting the selected value (ex 5/1/0)
					var selectValue = jQuery("select").val();
					var macAndTop = selectValue.split("|");
					var macdomain = macAndTop[0];
					var topology = macAndTop[1];

					//First Ajax request - Run the script 
					jQuery.ajax({
						url: "/runscript", 
						data: {
							macdomain: macdomain,
							topology: topology
						}
					}) // {description:var}
					.done(function(response) {
						//console.log("Debug: AJAX - Script has been started successfully");
						//console.log("Debug: Starting Timer");
						//Clause which handles the procedure if the script is already running
						//Just in case the script wasn't running at the time the page was loaded, however started in the meantime
						if (response == 1) {
							jQuery("#status").html("<b>Die Anwendung wird bereits ausgeführt</b><br>Bitte versuchen Sie es später nochmals...<br>Stand: " + response.CM_COUNT + "/" + response.CM_TOTAL);
							//jQuery("button").remove();
							jQuery("button").attr('disabled', 'disabled');
							jQuery("select").attr('disabled', 'disabled');
						}
						else {
							jQuery("#status").timer('start');
							jQuery("#status").html("Abfrage wird initialisiert...");
							jQuery("button").attr('disabled', 'disabled');
							jQuery("select").attr('disabled', 'disabled');
						}
					});
				});
			});
		</script>
	</head>
	<body id="body">		
		<table id="layout">
			<tr>
				<td colspadn="2">
					<select>
						<!--
						HFC topology:
						1. 1 USG (2x bonded), 1 DSG (4x bonded) => 1214
						2. 2 USG (2x bonded), 1 DSG (4x bonded) => 2214
						3. 1 USG (3x bonded), 1 DSG (4x bonded) => 1314
						4. 1 USG (3x bonded), 2 DSG (4x bonded) => 1324
						-->
						<option value="5/0/0|2214">C5/0/0 - Reinach 1,2    </option>     
						<option value="5/0/1|2214">C5/0/1 - Reinach 3,4    </option>     
						<option value="5/0/6|1314">C5/0/6 - Schöftland 1   </option>
						<option value="5/0/7|1314">C5/0/7 - Schöftland 2   </option> 
						<option value="5/0/8|1314">C5/0/8 - Schöftland 3   </option>      
						<option value="5/0/9|1314">C5/0/9 - Schöftland 4   </option>        
						<option value="5/0/4|2214">C5/0/4 - Zetzwil,Gonten.</option>           
						<option value="5/1/0|1214">C5/1/0 - Suhr 1, TBS    </option>            
						<option value="5/1/1|1214">C5/1/1 - Suhr 2, Bärenm.</option>            
						<option value="5/1/2|1324">C5/1/2 - Suhr 3, Messst.</option>            
						<option value="5/1/3|1324">C5/1/3 - Suhr 4, August.</option>            
						<option value="5/1/4|1324">C5/1/4 - Suhr 5, Fliede.</option> 
						<option value="5/1/5|1324">C5/1/5 - Suhr 6, Bachst.</option>
						<option value="5/1/6|1314">C5/1/6 - Suhr 7, Lab    </option>            
						<option value="6/1/0|1324">C6/1/0 - Teufenthal 1,2 </option>            
						<option value="6/1/1|1324">C6/1/1 - Unterkulm 1,2  </option>                
						<option value="6/1/2|1214">C6/1/2 - Gränichen 1    </option>             
						<option value="6/1/3|1314">C6/1/3 - Gränichen 2    </option>           
						<option value="6/1/4|1324">C6/1/4 - Gränichen Ost  </option>
						<option value="6/1/5|1314">C6/1/5 - Muhen 1        </option>
						<option value="6/1/6|1314">C6/1/6 - Muhen 2        </option>
					</select>
					<button>Go</button>
				</td>
			</tr>
			<tr>
				<td colspan="2"><div id="status"><a href="/static/result.html">Letzte Abfrage</div></td>
			</tr>
		</table>
		<div id="impressum"> Developed by Teletrend AG for Technische Betriebe Suhr - Version RC.0.0.1 - 07.2013</div>
		<div id="result"></div>
	</body>
</html>

 