<!doctype html>
<html>
	<head>
		<style type="text/css">	
			#body {
				margin:75px 0pt 0px;
			}
			#status {
				font-family:arial;
				font-size: 10pt;
				padding-top:5px;
				text-align: center;
				color: LightSlayGray;
			}
			#impressum {
				font-family:arial;
				font-size: 7pt;
				padding-top:12px;
				text-align: center;
				color: SlateGray;
				font-style: italic;
			}
		</style>
	</head>
	<body id="body">
		<div id="status">Diese Seite wird momentan gewartet.<br>Bitte versuchen 
			Sie es spaeter nochmals.</div>
		<div id="impressum">Developed by Teletrend AG (JM) for Technische
			 Betriebe Suhr - Version 0.1 Beta(05.2013)</div>
	</body>
</html>
		 
			